################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Golden8Sky/Setup_Golden8Sky/Release/Setup_Golden8Sky.msi
/Golden8Sky/Setup_Golden8Sky/Release/setup.exe
/Golden8Sky/Golden8Sky/obj/x86/Release/TempPE/My Project.Resources.Designer.vb.dll
/Golden8Sky/Golden8Sky/obj/x86/Release/Golden8Sky.vbproj.FileListAbsolute.txt
/Golden8Sky/Golden8Sky/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Golden8Sky/Golden8Sky/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Golden8Sky/Golden8Sky/obj/x86/Release/CoreCompileInputs.cache
/Golden8Sky/Golden8Sky/obj/x86/Debug/TempPE/My Project.Resources.Designer.vb.dll
/Golden8Sky/Golden8Sky/obj/x86/Debug/Golden8Sky.vbproj.FileListAbsolute.txt
/Golden8Sky/Golden8Sky/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Golden8Sky/Golden8Sky/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Golden8Sky/Golden8Sky/obj/x86/Debug/CoreCompileInputs.cache
/Golden8Sky/Golden8Sky/bin/Release/Golden8Sky.vshost.exe.manifest
/Golden8Sky/Golden8Sky/bin/Release/Golden8Sky.vshost.exe
/Golden8Sky/Golden8Sky/bin/Release/Golden8Sky.vshost.application
/Golden8Sky/Golden8Sky/bin/Debug/Golden8Sky.vshost.exe.manifest
/Golden8Sky/Golden8Sky/bin/Debug/Golden8Sky.vshost.exe
/Golden8Sky/Golden8Sky/bin/Debug/Golden8Sky.vshost.application
/Golden8Sky/.vs/Supercharger/Setup_Golden8Sky/workbench.dat
/Golden8Sky/.vs/Supercharger/Setup_Golden8Sky/global_history.dat
/Golden8Sky/.vs/Supercharger/Setup_Golden8Sky/codemap.dat
/Golden8Sky/.vs/Supercharger/Golden8Sky/workbench.dat
/Golden8Sky/.vs/Supercharger/Golden8Sky/global_history.dat
/Golden8Sky/.vs/Supercharger/Golden8Sky/codemap.dat
/Golden8Sky/.vs/Golden8Sky/v15/.suo
/Fate2013/Setup_Fate/Release/Setup_Fate.msi
/Fate2013/Setup_Fate/Release/setup.exe
/Fate2013/Setup_Fate/Debug/Setup_Fate.msi
/Fate2013/Setup_Fate/Debug/setup.exe
/Fate2013/Fate2013/obj/x86/Release/TempPE/My Project.Resources.Designer.vb.dll
/Fate2013/Fate2013/obj/x86/Release/Fate2013.vbproj.FileListAbsolute.txt
/Fate2013/Fate2013/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Fate2013/Fate2013/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/Fate2013/Fate2013/obj/x86/Release/CoreCompileInputs.cache
/Fate2013/Fate2013/obj/x86/Debug/TempPE/My Project.Resources.Designer.vb.dll
/Fate2013/Fate2013/obj/x86/Debug/TempPE/Model1.Designer.vb.dll
/Fate2013/Fate2013/obj/x86/Debug/TempPE/Fate2013DataSet.Designer.vb.dll
/Fate2013/Fate2013/obj/x86/Debug/TempPE/DS_Fate2013.Designer.vb.dll
/Fate2013/Fate2013/obj/x86/Debug/TempPE/DataSet1.Designer.vb.dll
/Fate2013/Fate2013/obj/x86/Debug/Fate2013.vbproj.FileListAbsolute.txt
/Fate2013/Fate2013/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Fate2013/Fate2013/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Fate2013/Fate2013/obj/x86/Debug/CoreCompileInputs.cache
/Fate2013/Fate2013/bin/Release/Fate2013.vshost.exe.manifest
/Fate2013/Fate2013/bin/Release/Fate2013.vshost.exe
/Fate2013/Fate2013/bin/Release/Fate2013.vshost.application
/Fate2013/Fate2013/bin/Release/Fate2013.log
/Fate2013/Fate2013/bin/Debug/Fate_customer_all.txt
/Fate2013/Fate2013/bin/Debug/Fate2013.vshost.exe.manifest
/Fate2013/Fate2013/bin/Debug/Fate2013.vshost.application
/Fate2013/Fate2013/bin/Debug/Fate2013.log
/Fate2013/Fate2013/bin/Debug/Fate.vshost.exe.manifest
/Fate2013/Fate2013/bin/Debug/Fate.vshost.exe.config
/Fate2013/Fate2013/bin/Debug/Fate.vshost.exe
/Fate2013/Fate2013/bin/Debug/Fate.vshost.application
/Fate2013/Fate2013/bin/Debug/Edit2
/Fate2013/Fate2013/bin/Debug/Edit1
/Fate2013/.vs/Supercharger/Setup_Fate/workbench.dat
/Fate2013/.vs/Supercharger/Setup_Fate/global_history.dat
/Fate2013/.vs/Supercharger/Setup_Fate/codemap.dat
/Fate2013/.vs/Supercharger/Fate2013/workbench.dat
/Fate2013/.vs/Supercharger/Fate2013/global_history.dat
/Fate2013/.vs/Supercharger/Fate2013/codemap.dat
/Fate2013/.vs/Fate2013/v15/.suo
